<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <generator>
        <scope>
            <name>test_db</name>
            <dataSource>
                <driverClassName>org.h2.Driver</driverClassName>
                <connectionURL>jdbc:h2:~/testdb</connectionURL>
                <username>sa</username>
                <password></password>
                <schema>PUBLIC</schema>
            </dataSource>
        </scope>

<!--        <scope>-->
<!--            <name>qms</name>-->
<!--            <dataSource>-->
<!--                <driverClassName>oracle.jdbc.OracleDriver</driverClassName>-->
<!--                <connectionURL>jdbc:oracle:thin:@203.229.218.220:1521:orcl</connectionURL>-->
<!--                <username>PHM7_1_QMS_USER</username>-->
<!--                <password>PHM71QMSUSER</password>-->
<!--            </dataSource>-->
<!--        </scope>-->
    </generator>

</configuration>